@{
    ViewData["Title"] = "Moderator";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <p>You are a moderator.</p>
        </div>
    </div>
</div>